.bannerLogo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

h1{
  color: #0549b8;
}

.table-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.modalButtonGroup{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modalButtonGroup button{
  margin: 2%;
}
