.bannerLogo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

h1{
  color: #0549b8;
}

h2{
  color: #0e3c85;
}

.table-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.modalButtonGroup{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modalButtonGroup button{
  margin: 2%;
}

.menu-item-ekle-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.menu-item-ekle{
  width: 30%;
  
}

.button-position-right{
  display: flex;
  justify-content: flex-end;
}

.button-position-center{
  display: flex;
  justify-content: center;
}

.center-container{
  display: flex;
  justify-content: center;
}

.logo-menu{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.menu-container {
  display: flex;
  flex-wrap: wrap; /* Elemanların sığmayanlarının alt satıra geçmesini sağlar */
  justify-content: space-between; /* Elemanlar arasındaki boşlukları dengeler */
}

.menu-item {
  flex: 0 1 calc(33% - 5px); /* Elemanların 3 sütun halinde dizilmesi ve aralarındaki boşluk */
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  background-color: #faf7f7;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  min-width: none;
  max-width: 300px;
}

.menu-item img {
  border-radius: 10%;
  width: 80%; 
  height: auto;
}

/* Daha küçük ekranlar için, sütun sayısını azalt */
@media (max-width: 768px) {
  .menu-item {
    flex: 1 1 calc(50% - 20px); /* İki sütun */
  }
}

/* Çok küçük ekranlar (mobil cihazlar) için, elemanlar tek sütun haline gelir */
@media (max-width: 480px) {
  .menu-item {
    flex: 1 1 100%; /* Tek sütun */
  }
}

.menu-group {
  margin-bottom: 40px; /* Grup başlıkları arasındaki boşluk */
}